.card {
  background-color: var(--color-card-background);
  border-radius: 1rem;
  margin: 1rem 0;
  padding: 10px;
}

.card_header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  margin: 0 0 10px;
}

.card_header > p {
  font-size: 2.5em;
  border: 1px solid gray;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  padding: 0px 2px 11px;
}
/* card status */
.card_status {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  margin: 10px 0;
}

.card_status > p:nth-child(1) {
  background-color: aqua;
  padding: 4px 6px;
  border-radius: 10px;
}
.card_status > p:nth-child(2) {
  background-color: aquamarine;
  padding: 4px;
  border-radius: 10px;
}

/* card profile */
.card_profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  margin: 10px 0;
}

.card_profile_initials {
  background-color: brown;
  border-radius: 50%;
  padding: 10px;
}

.card_profile_date {
color: var(--color-navigation-text-weak);
}