.frame_header {
  display: flex;
  /* justify-content: space-between; */
  align-items: baseline;
  width: 100%;
}
.cards {
  overflow-y: scroll;
  height: 72vh;
  padding: 15px;
}

.frame_header h1 {
  margin-right: auto;
}

.frame_header span {
  margin: 0 0.5rem;
  font-size: 2.5em;
}

.frame_form {
  background-color: var(--color-card-background);
  border: 1px solid var(--color-navigation-text);
  color: var(--color-navigation-text);
  border-radius: 1rem;
  margin: 1rem 0;
  padding: 10px;
}

.frame_form > input{
  background-color: transparent;
  border: none;
}

.frame_form > input:focus{
  outline: none;
}

/* others */
.pointer {
  cursor: pointer;
}

.hidden {
  display: none;
}
::placeholder{
  color: var(--color-navigation-text-weak);
}
